/*
 Theme Name:   macbay Starter Theme
 Theme URI:    https://generatepress.com
 Description:  macbay digital starter theme (A GeneratePress child theme)
 Author:       Sascha Liem
 Author URI:   https://macbay.net
 Template:     generatepress
 Version:      0.9.10
 Changes:      added tweaks from theadminbar.com/generate, re-ordered code, removed unused css
*/

/* Site Wrapper */
.site-wrapper {
    width: 100%;
    max-width: 1920px;
    margin-inline: auto;
}

/* Optimize Header for responsive screens */
header.site-header {
    padding-inline: 1rem;
}
header.site-header .inside-header {
    max-width: 1200px;
    padding-inline: 0;
}

/* Tweak 3 - Remove bottom margin on last paragraph - source check functions.php */
.gb-container p:last-child:last-of-type {
    margin-bottom: 0px;
}
.block-editor-block-list__layout .gb-container p:nth-last-child(2) {
    margin-bottom: 0px;
}

/* HELPER UTILITY CLASSES */

/* Standard Shadow(s) */
.shadow-standard {
	box-shadow: 0px 5px 16px -5px rgba(33, 33, 33, 0.2);
	transition: all .2s ease-in;
}
.shadow-standard:hover {
	box-shadow: 0px 8px 32px 0px rgba(33, 33, 33, 0.1);
}

.ar-16-9 {
    aspect-ratio: 16/9;
}

.ar-9-16 {
    aspect-ratio: 9/16;
}

.ar-4-3 {
    aspect-ratio: 4/3;
}

.ar-1-1 {
	aspect-ratio: 1/1;
}

/* Visually Hidden */
.visually-hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* No Underline */
.no-ul, .no-ul a {
	text-decoration: none;
}

